/*Global*/
.details {
	width:auto;
	margin-right: 50px;
	margin-left:120px;
	overflow-y:auto;
	overflow-x:hidden;
}
.details .article-content{
    color: #333;
}
/*Global*/

/*Sections*/
.details .section {
    padding:0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
@media all and (orientation: landscape) {
    .details .section{
        margin:15px;
    }
}

@media all and (orientation: portrait) {
    .details .section{
        margin-bottom:15px;
        width:95%;
    }
}

.details section .header{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    color: #999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight:bold;
    height:30px;
    vertical-align:middle;
}

.details section footer{
	text-align:right;
	padding:5px 10px;
}

.details section .article-content{
    padding:20px;
    word-wrap: break-word;
}

.details section article .title{
	float:left;
}
.details section article .findOnGithub{
	float:right;
}
.details section article .findOnGithub a{
	float:right;
	cursor:pointer;
}
/*Sections*/

/*Section specific*/
.details section .owner img{
    width:35%;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.details section .owner .imgContainer {
	width:100%;
	margin:auto;
	text-align:center;
}
.details section .search .article-content{
    overflow-y:auto;
}
/*Section specific*/

/*Grid*/
@media all and (orientation: landscape) {
    .details section.grid{
        display: -ms-grid;
        margin-top: auto;
        margin-bottom: auto;
        -ms-grid-columns:55% 45%;
    }
    .details section .owner{
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .details section .repo{
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        width:88%;
    }
    .details section .search{
        -ms-grid-column: 1;
        -ms-grid-row: 2;
	    -ms-grid-column-span: 2;
	    width:95%;
	    height:auto;
    }
}
@media all and (orientation: portrait) {
    .details section.grid{
        display: -ms-grid;
        margin-top: auto;
        margin-bottom: auto;
    }
    .details section .owner{
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    .details section .repo{
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .details section .search{
        -ms-grid-column: 1;
        -ms-grid-row: 3;
	    height:auto;
    }
}
/*Grid*/

/*Fragments template*/
.fragmentItem{
    padding:0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.fragmentItem .header{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    color: #999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height:30px;
    vertical-align:middle;
}
.fragmentItem .header .property {
    font-weight:bold;
}
.fragmentItem .content{
    margin:15px;
}
.fragmentItem .content pre{
    padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}
/*Fragments template*/

/*Overides*/
.win-listview {
    height:auto;
}
.win-listview .win-itembox, .win-itemcontainer .win-itembox {
    background-color: #fff;
}
/*Overides*/
