.details {
	width:auto;
	margin-right: 50px;
	margin-left:120px;
	overflow-y:auto;
	overflow-x:auto;
}

.details section.grid{
    display: -ms-grid;
    margin-top: auto;
    margin-bottom: auto;
    -ms-grid-columns:22% 75%;
}
.details .section{
    margin:15px;
    padding:0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.details section .header{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    color: #999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight:bold;
    height:30px;
    vertical-align:middle;
}

.details section footer{
	text-align:right;
	padding:5px 10px;
}

.details section .article-content{
    padding:20px;
    word-wrap: break-word;
}

.details section .owner{
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.details section .owner img{
    width:60%;
}
.imgContainer {
	width:100%;
	margin:auto;
	text-align:center;
}

.details section .repo{
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
}

.details section .search{
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
	width:100%;
}

.details .article-content{
    color: #333;
}

.fragmentItem{
    padding:0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.fragmentItem .header{
    padding-left: 15px;
    padding-right: 15px;
    padding-top:7px;
    color: #999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height:30px;
    vertical-align:middle;
}
    .fragmentItem .header .property {
        font-weight:bold;
    }
.fragmentItem .content{
    margin:15px;
}
.fragmentItem .content .extract{
    font-weight:bold;
}
.fragmentItem .content .openFragment{
	width:500px;
}
.fragmentItem .content pre{
    padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

/*Ovverides*/
.win-itembox{
    background-color:#fff !important;
}
button.black{
    background-color: transparent;
    border-color: #333;
    color: #333;
}
button.black{
    background-color: transparent;
    border-color: #333;
    color: #333;
}
button.black:hover{
    background-color: #f7f7f7;
}
