/*Search bar*/
@media all and (orientation: portrait) {
    .homepage .searchForm{
    }
}
.homepage .searchForm {
    margin-top: 200px;
    text-align:center;
}
.homepage #searchInput {
    width:40%;
}
/*Search bar*/